.header {
  background-color: #282828;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__logo {
  cursor: pointer;
  width: 240px;
  height: auto;
}

.header__nav a {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  padding: 0 7px;
}

.header__nav a:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
}

.header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__icons img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
