.documents {
  padding: 20px 0 80px 0;
}

.documents h2 {
  color: #000000;
  display: block;
  font-size: 31px;
  font-weight: bold;
  line-height: 54px;
  margin-bottom: 0;
  padding-left: 10px;
}

.documents a {
  text-transform: uppercase;
  text-decoration: underline;
}
