*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  letter-spacing: 0.5px;
}

html,
body {
  outline: none;
  color: black;
  background-image: url("../src/images/background/backfon.jpg");
}

body {
  font-family: "Cuprum", "FontAwesome", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #ededed;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

img {
  outline: none;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
